# Análisis de Datos de Empresas constituidas en la Pandemia

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Importación  de información

In [12]:
data = pd.read_csv('DatosEmpresa.csv',sep=';',decimal=',')

In [13]:
data.head()

,EXPEDIENTE,TIPO,ACTIVIDAD,REGIÓN,PROVINCIA,TAMAÑO,SECTOR,EMPLEADOS,ACTIVO,PATRIMONIO,VENTAS,UTILIDAD
0,11069,ANÓNIMA,G4663.13,SIERRA,PICHINCHA,GRANDE,SOCIETARIO,560,19013932.6,5441045.72,27523262.48,2935433.52
1,103998,ANÓNIMA,G4663.13,COSTA,GUAYAS,GRANDE,SOCIETARIO,145,16498974.5,11084842.00,54939460.87,1180874.92
2,23140,RESPONSABILIDAD LIMITADA,G4663.21,COSTA,EL ORO,GRANDE,SOCIETARIO,65,13759911.4,1854107.85,16703972.80,229199.17
3,165341,ANÓNIMA,G4663.13,COSTA,GUAYAS,GRANDE,SOCIETARIO,108,13015774.6,4353938.42,20409276.64,81756.86
4,49377,ANÓNIMA,G4649.23,SIERRA,PICHINCHA,GRANDE,SOCIETARIO,65,12664279.7,4547432.49,19232070.60,-900404.03

In [15]:
#### Información de mi dataset
data.columns

Index(['EXPEDIENTE', 'TIPO', 'ACTIVIDAD', 'REGIÓN', 'PROVINCIA', 'TAMAÑO',
       'SECTOR', 'EMPLEADOS', 'ACTIVO', 'PATRIMONIO', 'VENTAS', 'UTILIDAD'],
      dtype='object')

In [16]:
data.index

RangeIndex(start=0, stop=505, step=1)

In [26]:
data.dtypes

EXPEDIENTE      int64
TIPO           object
ACTIVIDAD      object
REGIÓN         object
PROVINCIA      object
TAMAÑO         object
SECTOR         object
EMPLEADOS       int64
ACTIVO        float64
PATRIMONIO    float64
VENTAS        float64
UTILIDAD      float64
dtype: object

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   EXPEDIENTE  505 non-null    int64
 1   TIPO        505 non-null    object
 2   ACTIVIDAD   505 non-null    object
 3   REGIÓN      505 non-null    object
 4   PROVINCIA   505 non-null    object
 5   TAMAÑO      505 non-null    object
 6   SECTOR      505 non-null    object
 7   EMPLEADOS   505 non-null    int64
 8   ACTIVO      505 non-null    float64
 9   PATRIMONIO  505 non-null    float64
 10  VENTAS      505 non-null    float64
 11  UTILIDAD    505 non-null    float64
dtypes: float64(4), int64(2), object(6)
memory usage: 47.5+ KB

In [38]:
x = data[data['EMPLEADOS']<100]
#aux = np.array(data['Empleados'],dtype='int32')
#empreMuchosEmpleados = 
#aux.shape()
print(type(data['EMPLEADOS']))

len(x)

<class 'pandas.core.series.Series'>

501

In [39]:
data['EMPLEADOS']

0      560
1      145
2       65
3      108
4       65
      ...
500      3
501      6
502      6
503      4
504      4
Name: EMPLEADOS, Length: 505, dtype: int64

In [42]:
x2 = np.array(data['EMPLEADOS'])
x2.sum()

4166

#### Conclusión
Tras analizar ....